@page "/Chat"

@using Cwg.Core.Dto
@using Cwg.Core.Services

@inject IChatService ChatService
@inject IChatDbService ChatDb
@inject ISettingsService Settings

<PageTitle>Chat</PageTitle>

<h3>Chats</h3>

<ul>
    @foreach (ChatInfo chat in _chats)
    {
        <li>
            @if (chat == _editingChat)
            {
                <input type="text" @bind="chat.Title"/>
                <button type="button" @onclick="async () => await OnSaveChatTitleClickAsync(chat)">Save</button>
                <button type="button" @onclick="OnCancelEditClick">Cancel</button>
            }
            else
            {
                @chat.Title
                <button type="button" @onclick="async () => await OnSelectChatClickAsync(chat)">Select</button>
                <button type="button" @onclick="() => OnEditChatClick(chat)">Edit</button>
                <button type="button" @onclick="async () => await OnDeleteChatClickAsync(chat)">Delete</button>
            }
        </li>
    }
</ul>

<button type="button" @onclick="async () => await OnNewChatClickAsync()">New chat</button>

<h3>Current chat</h3>

@if (_currentChat != null && _chatSession != null)
{
    <p>Current chat: @_currentChat.Title</p>

    <ul>
        @foreach (var msg in _chatSession.Messages)
        {
            <li>
                @if (msg.Type == ChatMessageType.Assistant)
                {
                    <text>Assistant</text>
                }
                else
                {
                    <text>User</text>
                }
                :
                <p>@msg.Message</p>
            </li>
        }
    </ul>

    <textarea @bind="_message"></textarea>
    <br>
    <button type="button" @onclick="async () => await OnSendAsync()">Send</button>
}
else
{
    <p>Select or create chat.</p>
}

@code {
    List<ChatInfo> _chats = [];
    ChatSessionDto? _chatSession;

    ChatInfo? _currentChat;
    ChatInfo? _editingChat;

    string _message = "";

    protected override async Task OnInitializedAsync()
    {
        string apiKey = (await Settings.GetAsync()).ApiKey;

        if (!string.IsNullOrEmpty(apiKey))
            ChatService.Initialize(apiKey);
        
        _chats = (await ChatDb.GetChatsAsync()).ToList();
    }

    private async Task OnNewChatClickAsync()
    {
        var newChat = new ChatInfo();

        await ChatDb.AddChatAsync(newChat);

        _chats.Add(newChat);
    }

    private async Task OnDeleteChatClickAsync(ChatInfo chat)
    {
        await ChatDb.DeleteChatAsync(chat.Id);

        if (chat == _currentChat)
            _currentChat = null;

        _chats.Remove(chat);
    }

    private void OnEditChatClick(ChatInfo chat)
    {
        _editingChat = chat;
    }

    private void OnCancelEditClick()
    {
        _editingChat = null;
    }

    private async Task OnSaveChatTitleClickAsync(ChatInfo chat)
    {
        _editingChat = null;
        await ChatDb.UpdateChatAsync(chat);
    }

    private async Task OnSelectChatClickAsync(ChatInfo chat)
    {
        _currentChat = chat;
        _chatSession = await ChatDb.GetChatSessionAsync(chat.Id);
    }

    private async Task OnSendAsync()
    {
        if (_chatSession == null)
            return;
        
        _chatSession.Messages.Add(new ChatMessageDto
        {
            Message = _message,
            Type = ChatMessageType.User
        });

        _message = "";
        
        await ChatService.CompleteChatAsync(_chatSession);
        
        StateHasChanged();
    }

}
