@page "/Chat"

@using Cwg.Core.Dto
@using Cwg.Core.Services

@inject IChatDbService ChatDb

<PageTitle>Chat</PageTitle>

<h3>Chats</h3>

<ul>
    @foreach (ChatInfo chat in _chats)
    {
        <li>
            @if (chat == _editingChat)
            {
                <input type="text" @bind="chat.Title"/>
                <button type="button" @onclick="async () => await OnSaveChatTitleClickAsync(chat)">Save</button>
                <button type="button" @onclick="OnCancelEditClick">Cancel</button>
            }
            else
            {
                @chat.Title
                <button type="button" @onclick="() => OnSelectChatClick(chat)">Select</button>
                <button type="button" @onclick="() => OnEditChatClick(chat)">Edit</button>
                <button type="button" @onclick="async () => await OnDeleteChatClickAsync(chat)">Delete</button>
            }
        </li>
    }
</ul>

<button type="button" @onclick="async () => await OnNewChatClickAsync()">New chat</button>

<h3>Current chat</h3>

@if (_currentChat != null)
{
    <p>Current chat: @_currentChat.Title</p>
}
else
{
    <p>Select or create chat.</p>
}

@code {
    List<ChatInfo> _chats = [];

    ChatInfo? _currentChat;
    ChatInfo? _editingChat;

    protected override async Task OnInitializedAsync()
    {
        _chats = (await ChatDb.GetChatsAsync()).ToList();
    }

    private async Task OnNewChatClickAsync()
    {
        var newChat = new ChatInfo();

        await ChatDb.AddChatAsync(newChat);

        _chats.Add(newChat);
    }

    private async Task OnDeleteChatClickAsync(ChatInfo chat)
    {
        await ChatDb.DeleteChatAsync(chat.Id);

        if (chat == _currentChat)
            _currentChat = null;

        _chats.Remove(chat);
    }

    private void OnEditChatClick(ChatInfo chat)
    {
        _editingChat = chat;
    }

    private void OnCancelEditClick()
    {
        _editingChat = null;
    }

    private async Task OnSaveChatTitleClickAsync(ChatInfo chat)
    {
        _editingChat = null;
        await ChatDb.UpdateChatAsync(chat);
    }

    private void OnSelectChatClick(ChatInfo chat)
    {
        _currentChat = chat;
    }

}
