@page "/"

@using Cwg.Core.Services

@inject IChatService Chat
@inject ISettingsService Settings

<PageTitle>Home</PageTitle>

<textarea @bind="_msg"></textarea><br>
<button type="button" @onclick="OnSend">Send</button><br>

Response:<br>
<p>@_response</p>

@code{
    string _msg = "";
    string _response = "";

    protected override async Task OnInitializedAsync()
    {
        string apiKey = (await Settings.GetAsync()).ApiKey;

        if (!string.IsNullOrEmpty(apiKey))
            Chat.Initialize(apiKey);
    }

    async Task OnSend()
    {
        _response = await Chat.SendAsync(_msg);

        StateHasChanged();
    }

}
