@page "/"
@using Cwg.Core.Services

@inject IChatService Chat
@inject ISettingsService Settings

<PageTitle>Home</PageTitle>

<textarea @bind="msg"></textarea><br>
<button type="button" @onclick="OnSend">Send</button><br>

Response:<br>
<p>@response</p>

@code{
    string msg = "";
    string response = "";

    protected override async Task OnInitializedAsync()
    {
        string apiKey = (await Settings.GetAsync()).ApiKey;
        
        if (!string.IsNullOrEmpty(apiKey))
            Chat.Initialize(apiKey);
    }

    async Task OnSend()
    {
        response = await Chat.SendAsync(msg);
        
        StateHasChanged();
    }
}
