@page "/Settings"

@using Cwg.Core.Dto
@using Cwg.Core.Services

@inject NavigationManager Nav
@inject ISettingsService SettingsService

<h3>Settings</h3>

Api key:<br>
<input @bind="_settingsDto.ApiKey"><br>

System message:<br>
<textarea @bind="_settingsDto.SystemMessage"></textarea><br>

<button type="button" @onclick="async () => await OnSaveAsync()">Save</button>

@code {
    private SettingsDto _settingsDto = new();

    protected override async Task OnInitializedAsync()
    {
        _settingsDto = await SettingsService.GetAsync();

        StateHasChanged();
    }

    private async Task OnSaveAsync()
    {
        await SettingsService.SaveAsync(_settingsDto);

        Nav.NavigateTo("/Chat");
    }

}
