@page "/Settings"

@using Cwg.Core.Dto
@using Cwg.Core.Services

@inject ISettingsService SettingsService

<h3>Settings</h3>

Api key:<br>
<input @bind="_settingsDto.ApiKey"><br>

System message:<br>
<textarea @bind="_settingsDto.SystemMessage"></textarea><br>

<button type="button" @onclick="OnSave">Save</button>

@code {
    private SettingsDto _settingsDto = new SettingsDto();

    protected override async Task OnInitializedAsync()
    {
        _settingsDto = await SettingsService.GetAsync();
        
        StateHasChanged();
    }

    async Task OnSave()
    {
        await SettingsService.SaveAsync(_settingsDto);
    }
}
